table {
    width: 100%;  
    background: white; 
    color: white; 
    border-spacing: 1px; 
}

.lessonheadings {
    background: maroon; 
    padding: 40px 10px 40px 10px; 
}

.lessonmain {
    background: maroon; 
    padding: 10px 10px 10px 10px; 
}